version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: db_backend
    ports:
      - "8011:8011"
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - db_network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: db_frontend
    ports:
      - "8012:8012"
    depends_on:
      - backend
    networks:
      - db_network

networks:
  db_network:
    driver: bridge
